<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.hk1.Exhibition">
     <!--    <resultMap type = "com.hk.dtos.HkDto" id="HkDtoMap">
      <result culumn="seq" property="="seq1" />
   </resultMap>
 -->
    <!-- 전시 -->
  
  
  <insert id="insertExhibition" parameterType="ExhibitionDto" useGeneratedKeys="true" keyProperty="e_no" keyColumn="e_no">
   INSERT INTO GALLERY.EXHIBITION (E_NO, E_TITLE, E_EXPLAIN, A_NO, A_NAME, E_CLICK, E_IMG)
   VALUES(EXHIBITION_SEQ.NEXTVAL, #{e_title},#{e_explain},#{a_no},#{a_name},0,#{e_img})
   </insert>
  
  <update id="updateExhibition" parameterType="ExhibitionDto">
   UPDATE GALLERY.EXHIBITION SET E_TITLE=#{e_title}, E_EXPLAIN=#{e_explain} , E_IMG=#{e_img}
   WHERE E_NO=#{e_no}
  </update>
  
  
  <delete id="deleteExhibition" parameterType="int">
   DELETE FROM GALLERY.EXHIBITION 
   WHERE E_NO=#{e_no}
  </delete>
  
  <select id="selectExhibition" parameterType="int" resultType="ExhibitionDto">
   SELECT E_NO, E_TITLE, E_EXPLAIN, A_NO, A_NAME, E_CLICK ,E_IMG
   FROM GALLERY.EXHIBITION
   WHERE E_NO=#{e_no}
  </select>
  
  
  <select id="selectExhibitionList" parameterType="int" resultType="ExhibitionDto">
   SELECT E_NO, E_TITLE, E_EXPLAIN, A_NO, A_NAME, E_CLICK, E_IMG FROM GALLERY.EXHIBITION
   WHERE A_NO=#{a_no}
  </select>
  
  
  <select id="selectExhibitionList1" resultType="ExhibitionDto" >
   SELECT E_NO, E_TITLE, E_EXPLAIN, A_NO, A_NAME, E_CLICK, E_IMG
   FROM GALLERY.EXHIBITION
    ORDER BY E_NO DESC
  </select>
  
   
  </mapper>